* {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: "Varela Round", "sans-serif", "apple color emoji";
}


// app global css in SCSS form
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 16px;
}


.q-item.q-router-link--active {
  color: black;  
}

.q-item.q-router-link--exact-active {
  color: var(--q-primary);  
}
